{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% load url from future %}


{% block content %}
    <p>
        {{ object }} -- {{ object.get_state_display }}
    </p>

    {% if object.state == 0 %}
        <a href="{% url 'ep_queue' object.id %}?next={{ request.get_full_path|urlencode }}">Queue</a>
    {% endif %}

    {% if object.state == 3 %}
        <a href="{{ object.episode_check_link }}">Download</a>
    {% endif %}


{% endblock %}


