{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% load url from future %}


{% block content %}

    <p>Du prenumerar på följande TV-serier</p>

    <ul>

    {% for item in show_list %}
        <li><a href="{% url 'show_detail' item.id %}">{{ item }}</a></li>
    {% endfor %}

    </ul>


    <p>Följande avsnitt har du köat för inspelning</p>

    <ul>

        {% for item in queue_list %}
            <li class="{% if item.episode.state == 3 %}downloaded{% endif %}"><a href="{% url 'ep_detail' item.episode.id %}">{{ item }}</a></li>
        {% endfor %}

    </ul>


    <p>
    <a href="{% url 'profile_update' %}">Ändra prenumeration</a>
    </p>

{% endblock %}


