{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block extrahead %}

    {{ block.super }}

    <script src="{{ STATIC_URL }}chosen/chosen/chosen.jquery.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}chosen/chosen/chosen.css" />


    <script type="text/javascript">

    $(document).ready(function() {
{#        $('#id_show').attr('multiple', true);#}
        $('#id_shows').chosen();
    })

    </script>


{% endblock %}

{% block content %}
<p>
{{ object }}
</p>




<form method="post" action="">
    {% csrf_token %}
        {{ form|as_bootstrap }}

        <div class="actions">
            <button type="submit" class="btn primary">Submit</button>
        </div>
</form>

{% endblock %}