{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% load url from future %}


{% block content %}
    <p xmlns="http://www.w3.org/1999/html">
        {{ object }}
    </p>

    <p>Denna TV-serie har följande avsnitt</p>

    <ul>

        {% for item in episode_list %}
            <li><a href="{% url 'ep_detail' item.id %}">{{ item }}</a>

                {% if item.state == 0 %}
                <a href="{% url 'ep_queue' item.id %}?next={{ request.get_full_path|urlencode }}">Queue</a>
                {% endif %}


                {% if item.state == 3 %}
                    <a href="{{ item.episode_check_link }}">Download</a>
                {% endif %}
            </li>
        {% endfor %}

    </ul>

{% endblock %}


