{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% load cache %}



{% block content %}

    {% regroup object_list by first_letter as letter_list %}
    <ul>
        {% for letter in letter_list %}
            <li>{{ letter.grouper }}
                <ul class="group">
                    {% for item in letter.list %}
                        <li class="{% if item.has_episodes_downloaded %}downloaded{% endif %}"><a href="{% url 'show_detail' item.id %}">{{ item }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>


{% endblock %}