{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% load url from future %}


{% block content %}

    <h1>Prequeued</h1>
    <ul>
        {% for item in episodes_prequeued %}
            <li><a href="{% url 'ep_detail' item.id %}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <h1>Queued</h1>
    <ul>
        {% for item in episodes_queued %}
            <li><a href="{% url 'ep_detail' item.id %}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <h1>Downloading</h1>
    <ul>
        {% for item in episodes_downloading %}
            <li><a href="{% url 'ep_detail' item.id %}">{{ item }}</a></li>
        {% endfor %}
    </ul>



{% endblock %}